@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  position: relative;
}

/***********CORES**********/
header {
  width: 100%;
  height: 670px;
  background: linear-gradient(#2d2d2dc7, #2d2d2da1), url("../img/imgFundo.jpg") no-repeat;
  background-size: cover;
}
header .divLogo_menuHamburguer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
}
header .divLogo_menuHamburguer img {
  width: 100px;
  margin: 20px 0;
}
header .divLogo_menuHamburguer .Div_menuHamburguer {
  display: none;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #2aa3f5;
}
header .divLogo_menuHamburguer .Div_menuHamburguer:hover {
  background: #735ee7;
}
header .divLogo_menuHamburguer .Div_menuHamburguer input {
  display: none;
}
header .divLogo_menuHamburguer .Div_menuHamburguer label {
  width: 33px;
  height: 21px;
  position: relative;
  cursor: pointer;
}
header .divLogo_menuHamburguer .Div_menuHamburguer label span {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  right: 0;
}
header .divLogo_menuHamburguer .Div_menuHamburguer label span:nth-child(1) {
  top: 0;
}
header .divLogo_menuHamburguer .Div_menuHamburguer label span:nth-child(2) {
  top: 8px;
}
header .divLogo_menuHamburguer .Div_menuHamburguer label span:nth-child(3) {
  top: 16px;
}
header .divLogo_menuHamburguer #menuCheck:checked + #menuHamburguer span:nth-child(1) {
  transform: rotate(-130deg);
  top: 8px;
}
header .divLogo_menuHamburguer #menuCheck:checked + #menuHamburguer span:nth-child(2) {
  opacity: 0;
}
header .divLogo_menuHamburguer #menuCheck:checked + #menuHamburguer span:nth-child(3) {
  transform: rotate(130deg);
  top: 8px;
  width: 100%;
}
header nav {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
  z-index: 998;
  margin-bottom: 50px;
}
header nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px 10px;
  border-radius: 6px;
}
header nav .menu .menuUl {
  display: flex;
  list-style: none;
  margin-left: 20px;
}
header nav .menu .menuUl li {
  margin: 0 30px 0 0;
}
header nav .menu .menuUl li a {
  color: #2d2d2d;
  font-size: 15px;
  text-decoration: none;
  position: relative;
}
header nav .menu .menuUl li a::after {
  content: " ";
  width: 0px;
  height: 3px;
  display: block;
  background: #735ee7;
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
}
header nav .menu .menuUl li a:hover::after {
  width: 100%;
}
header nav .menu .ulStyle a {
  background: #f6e100;
  color: white;
  padding: 10px 20px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 7px;
}
header nav .menu .ulStyle a svg {
  width: 15px;
  fill: white;
}
header nav .menu .ulStyle a:hover {
  background: white;
  outline: solid 1px #f6e100;
  color: #f6e100;
  transition: 0.2s ease-in;
}
header nav .menu .ulStyle a:hover > svg {
  fill: #f6e100;
  transition: 0.2s ease-in;
}
header .menuFixado {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 5px;
}
header .caixaInfo {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
header .caixaInfo article {
  text-align: center;
}
header .caixaInfo article h1 {
  font-size: 51px;
  font-family: "poppins", Sans-serif;
  color: white;
  margin-bottom: 15px;
}
header .caixaInfo article h4 {
  margin: 0 auto;
  width: 400px;
  font-size: 22px;
  font-family: "poppins", Sans-serif;
  color: white;
  margin-bottom: 25px;
}
header .caixaInfo article span {
  background: white;
  padding: 10px 20px;
  border-radius: 18px;
  cursor: pointer;
}
header .caixaInfo article span a {
  text-decoration: none;
  color: #f6e100;
}
header .caixaInfo article span:hover {
  background: none;
  outline: solid 1px white;
  transition: 0.2s ease-in;
}
header .caixaInfo article span:hover > a {
  color: white;
  transition: 0.2s ease-in;
}

/* RESPONSIVIDADE DO MENU */
@media (max-width: 855.98px) {
  header {
    position: relative;
  }
  header .divLogo_menuHamburguer .Div_menuHamburguer {
    display: flex;
    z-index: 999;
  }
  header nav {
    width: 100%;
    position: absolute;
    top: -100%;
    transition: 0.5s ease;
  }
  header nav .menu {
    padding: 0;
    border-radius: 0;
  }
  header nav .menu .menuUl {
    width: 100%;
    display: block;
    margin: 0;
  }
  header nav .menu .menuUl li {
    width: 100%;
  }
  header nav .menu .menuUl li:hover {
    background: #f6e100;
  }
  header nav .menu .menuUl li a {
    width: 100%;
    display: block;
    padding: 13px 0 10px 40px;
  }
  header nav .menu .menuUl li a:hover {
    color: white;
  }
  header nav .menu .menuUl li a::after {
    content: " ";
    display: none;
  }
  header nav .menu .ulStyle {
    display: none;
  }
  header nav.active {
    top: 100px;
  }
}
/*LIINHA 2
******************************************************/
#containerBody {
  width: 100%;
  /*LIINHA 3
  ******************************************************/
  /*LIINHA 4
  ******************************************************/
  /*LIINHA 5
  ******************************************************/
  /*LIINHA - RODAPE
  ******************************************************/
}
#containerBody .row2 {
  width: 100%;
  padding: 50px 0;
  background: white;
}
#containerBody .row2 .Subrow2 {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#containerBody .row2 .Subrow2 .row2_col1 {
  width: 100%;
  max-width: 540px;
  padding: 15px 45px;
  background: white;
  box-shadow: 2px 2px 10px #c5c5c5e2, -2px -2px 10px #c5c5c5e2;
  position: absolute;
  top: 35px;
  left: 0;
}
#containerBody .row2 .Subrow2 .row2_col1 article {
  padding: 7px 0;
}
#containerBody .row2 .Subrow2 .row2_col1 article h2 {
  font-size: 33px;
  margin-bottom: 10px;
  color: #7a7a7a;
}
#containerBody .row2 .Subrow2 .row2_col1 article .nomeTeclando {
  margin-bottom: 30px;
}
#containerBody .row2 .Subrow2 .row2_col1 article .nomeTeclando h3 {
  font-size: 33px;
  color: #7a7a7a;
}
#containerBody .row2 .Subrow2 .row2_col1 article p {
  font-size: 17px;
  margin-bottom: 40px;
  color: #5a5757;
}
#containerBody .row2 .Subrow2 .row2_col1 article p span {
  font-weight: bold;
}
#containerBody .row2 .Subrow2 .row2_col1 article .btnRow2 a {
  background: #f6e100;
  color: white;
  width: 203px;
  height: 43px;
  border-radius: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
#containerBody .row2 .Subrow2 .row2_col1 article .btnRow2 a svg {
  width: 15px;
  fill: white;
}
#containerBody .row2 .Subrow2 .row2_col1 article .btnRow2 a:hover {
  background: white;
  outline: solid 1px #f6e100;
  color: #f6e100;
  transition: 0.2s ease-in;
}
#containerBody .row2 .Subrow2 .row2_col1 article .btnRow2 a:hover > span svg {
  fill: #f6e100 !important;
  transition: 0.2s ease-in;
}
#containerBody .row2 .Subrow2 .row2_col2 {
  width: 100%;
  max-width: 600px;
}
#containerBody .row2 .Subrow2 .row2_col2 .subDiv {
  width: 100%;
  height: 430px;
  border-radius: 0 0 50% 0;
  background-image: url("../img/imgFundo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#containerBody .row2 .Subrow2 .row2_col2 .subDiv div svg {
  width: 100px;
  fill: #e5e5e5;
}
#containerBody .row2 .Subrow2 .videoMakeFundo {
  display: none;
  background: rgba(0, 0, 0, 0.607);
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100vh;
}
#containerBody .row2 .Subrow2 .videoMakeFundo .btnExcluir {
  position: absolute;
  top: 30px;
  right: 60px;
}
#containerBody .row2 .Subrow2 .videoMakeFundo .btnExcluir i {
  font-size: 27px;
  color: white;
  cursor: pointer;
}
#containerBody .row2 .Subrow2 .videoMakeFundo .videoMake {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  width: 70vw;
  max-width: 1100px;
}
#containerBody .row2 .Subrow2 .videoMakeFundo .videoMake video {
  width: 100%;
}
#containerBody .row2 .Subrow2 .vidmakeActiv {
  display: block;
}
#containerBody .row3 {
  padding: 50px 0;
  background-color: #eeeeee;
}
#containerBody .row3 .subRow1 {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#containerBody .row3 .subRow1 .subRow1_col {
  text-align: center;
}
#containerBody .row3 .subRow1 .subRow1_col h1 {
  font-size: 45px;
  color: #f6e100;
  margin-bottom: 20px;
}
#containerBody .row3 .subRow1 .subRow1_col p {
  max-width: 35%;
  margin: 0 auto;
  font-size: 18px;
  color: #656565;
}
#containerBody .row3 .subRow2 {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
#containerBody .row3 .subRow2 .col1, #containerBody .row3 .subRow2 .col2, #containerBody .row3 .subRow2 .col3 {
  width: 100%;
  max-width: 333px;
  padding: 50px 15px;
  background: white;
  box-shadow: 2px 2px 10px #c5c5c5e2, -2px -2px 10px #c5c5c5e2;
  border-radius: 6px;
}
#containerBody .row3 .subRow2 .col1 article, #containerBody .row3 .subRow2 .col2 article, #containerBody .row3 .subRow2 .col3 article {
  text-align: center;
}
#containerBody .row3 .subRow2 .col1 article div, #containerBody .row3 .subRow2 .col2 article div, #containerBody .row3 .subRow2 .col3 article div {
  width: 120px;
  height: 120px;
  background: #f6e100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
#containerBody .row3 .subRow2 .col1 article div svg, #containerBody .row3 .subRow2 .col2 article div svg, #containerBody .row3 .subRow2 .col3 article div svg {
  width: 70px;
  fill: white;
}
#containerBody .row3 .subRow2 .col1 article h3, #containerBody .row3 .subRow2 .col2 article h3, #containerBody .row3 .subRow2 .col3 article h3 {
  color: #7a7a7a;
  font-size: 19px;
  margin-bottom: 20px;
}
#containerBody .row3 .subRow2 .col1 article p, #containerBody .row3 .subRow2 .col2 article p, #containerBody .row3 .subRow2 .col3 article p {
  color: #7a7a7a;
  font-size: 16px;
  margin-bottom: 30px;
}
#containerBody .row3 .subRow2 .col1 article .btnRow3 a, #containerBody .row3 .subRow2 .col2 article .btnRow3 a, #containerBody .row3 .subRow2 .col3 article .btnRow3 a {
  background: #f6e100;
  color: white;
  width: 203px;
  height: 43px;
  border-radius: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0 auto;
}
#containerBody .row3 .subRow2 .col1 article .btnRow3 a:hover, #containerBody .row3 .subRow2 .col2 article .btnRow3 a:hover, #containerBody .row3 .subRow2 .col3 article .btnRow3 a:hover {
  background: white;
  outline: solid 1px #f6e100;
  color: #f6e100;
  transition: 0.2s ease-in;
}
#containerBody .row4 {
  padding: 50px 0;
  background: #f6e100;
}
#containerBody .row4 .subRow {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
}
#containerBody .row4 .subRow .subRow1 {
  text-align: center;
  margin-bottom: 25px;
}
#containerBody .row4 .subRow .subRow1 h1 {
  font-size: 45px;
  color: white;
}
#containerBody .row4 .subRow .subRow1 h1::after {
  content: "";
  width: 200px;
  margin: 0 auto;
  display: block;
  border-bottom: solid 4px #979696;
  padding: 15px 0 0 0;
}
#containerBody .row4 .subRow .subRow2 {
  text-align: center;
  margin-bottom: 25px;
}
#containerBody .row4 .subRow .subRow2 p {
  margin: 0 auto;
  max-width: 640px;
  font-size: 18px;
  color: white;
}
#containerBody .row4 .subRow .subRow3 {
  display: flex;
  justify-content: center;
}
#containerBody .row4 .subRow .subRow3 img {
  width: 100%;
  max-width: 1100px;
}
#containerBody .row4 .subRow .subRow4 {
  display: flex;
  justify-content: space-around;
}
#containerBody .row4 .subRow .subRow4 span {
  text-align: center;
}
#containerBody .row4 .subRow .subRow4 span p {
  font-size: 18px;
  color: white;
}
#containerBody .row4 .subRow .subRow4 span p::after {
  content: "";
  width: 100px;
  margin: 0 auto;
  display: block;
  border-bottom: solid 2px #979696;
  padding: 15px 0 0 0;
}
#containerBody .row5 {
  width: 100%;
  background: white;
  padding: 50px 0 250px 0;
  position: relative;
}
#containerBody .row5 .subRow1 {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#containerBody .row5 .subRow1 .col1 {
  width: 60%;
  max-width: 530px;
}
#containerBody .row5 .subRow1 .col1 article {
  width: 70%;
}
#containerBody .row5 .subRow1 .col1 article :first-child {
  font-size: 20px;
  color: #424242;
}
#containerBody .row5 .subRow1 .col1 article h1 {
  font-size: 55px;
  color: #f6e100;
  margin-bottom: 20px;
  line-height: 55px;
}
#containerBody .row5 .subRow1 .col1 article :nth-child(3) {
  font-size: 17px;
  color: #7a7a7a;
  font-weight: 400;
  margin-bottom: 40px;
}
#containerBody .row5 .subRow1 .col1 article .btnRow5 a {
  background: #f6e100;
  color: white;
  width: 203px;
  height: 43px;
  border-radius: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
#containerBody .row5 .subRow1 .col1 article .btnRow5 a:hover {
  background: white;
  outline: solid 1px #f6e100;
  color: #f6e100;
  transition: 0.2s ease-in;
}
#containerBody .row5 .subRow1 .col2 {
  width: 40%;
}
#containerBody .row5 .subRow1 .col2 div {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: flex-end;
}
#containerBody .row5 .subRow1 .col2 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#containerBody .rowRodape {
  width: 100%;
  padding: 250px 0 50px 0;
  background: #f9f9f9;
  position: relative;
}
#containerBody .rowRodape .subRowGeral1 {
  width: 80%;
  max-width: 1120px;
  height: 307px;
  margin: 0 auto;
  background: #f6e100;
  border-radius: 0 90px 0 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -150px;
  z-index: 997;
}
#containerBody .rowRodape .subRowGeral1 .divTexDigitalizado {
  text-align: center;
  margin-bottom: 50px;
}
#containerBody .rowRodape .subRowGeral1 .divTexDigitalizado p {
  font-size: 35px;
  color: white;
}
#containerBody .rowRodape .subRowGeral1 .divTexDigitalizado p span {
  color: #474747;
  font-weight: 600;
}
#containerBody .rowRodape .subRowGeral1 .divBtnRow5 .btnRow5 a {
  outline: solid 1px white;
  color: white;
  width: 203px;
  height: 43px;
  border-radius: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
#containerBody .rowRodape .subRowGeral1 .divBtnRow5 .btnRow5 a svg {
  width: 15px;
  fill: white;
}
#containerBody .rowRodape .subRowGeral1 .divBtnRow5 .btnRow5 a:hover {
  background: white;
  outline: solid 1px #f6e100;
  color: #f6e100;
  transition: 0.2s ease-in;
}
#containerBody .rowRodape .subRowGeral1 .divBtnRow5 .btnRow5 a:hover > span svg {
  fill: #f6e100 !important;
  transition: 0.2s ease-in;
}
#containerBody .rowRodape .subRow {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
}
#containerBody .rowRodape .subRow .subSubRow1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
#containerBody .rowRodape .subRow .subSubRow1 .divLogo img {
  width: 70px;
}
#containerBody .rowRodape .subRow .subSubRow1 .traco {
  width: 2px;
  height: 52px;
  background: #f6e100;
  margin: 0 30px;
}
#containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais {
  display: flex;
}
#containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais article {
  margin-right: 15px;
}
#containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais article a {
  width: 40px;
  height: 40px;
  background: #DADADA;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais article a:hover {
  background: #f6e100;
}
#containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais article a svg {
  width: 18px;
  fill: white;
}
#containerBody .rowRodape .subRow .subSubRow2 {
  margin-bottom: 60px;
}
#containerBody .rowRodape .subRow .subSubRow2 .menuFooter ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#containerBody .rowRodape .subRow .subSubRow2 .menuFooter ul li a {
  text-decoration: none;
  color: #a7a5a5;
  font-size: 16px;
}
#containerBody .rowRodape .subRow .subSubRow2 .menuFooter ul li a:hover {
  color: #cbc9c9;
  transition: 0.2s ease-in;
}
#containerBody .rowRodape .subRow .subSubRow3 .copy {
  text-align: center;
}
#containerBody .rowRodape .subRow .subSubRow3 .copy p {
  color: #a7a5a5;
  font-size: 16px;
}

#textDigit::after, #textDigit2::after {
  content: "|";
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
[data-anime] {
  opacity: 0;
  transition: 0.7s;
}

[data-anime=top] {
  transform: translate3d(0, 150px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 575.98px) {
  header {
    width: 100%;
    height: 500px;
  }
  header .caixaInfo {
    padding: 20px 0;
  }
  header .caixaInfo article h1 {
    font-size: 2.7rem;
  }
  header .caixaInfo article h4 {
    font-size: 1rem;
    font-weight: 200;
  }

  /*LINHA 2
  **********************************************/
  #containerBody .row2 .Subrow2 {
    width: 95%;
    flex-direction: column;
  }
  #containerBody .row2 .Subrow2 .row2_col1 {
    max-width: 100%;
    position: static;
  }
  #containerBody .row2 .Subrow2 .row2_col2 {
    max-width: 100%;
  }

  /*LIINHA 3
  ******************************************************/
  #containerBody .row3 {
    padding: 50px 0 15px 0;
  }
  #containerBody .row3 .subRow1 {
    width: 95%;
  }
  #containerBody .row3 .subRow1 .subRow1_col p {
    max-width: 100%;
  }
  #containerBody .row3 .subRow2 {
    width: 95%;
    grid-template-columns: 1fr;
  }
  #containerBody .row3 .subRow2 .col1, #containerBody .row3 .subRow2 .col2, #containerBody .row3 .subRow2 .col3 {
    max-width: 100%;
  }

  /*LIINHA 4
  ******************************************************/
  #containerBody .row4 {
    display: none;
  }

  /*LIINHA 5
  ******************************************************/
  #containerBody .row5 .subRow1 {
    width: 95%;
    flex-direction: column;
  }
  #containerBody .row5 .subRow1 .col1 {
    width: 100%;
    max-width: 100%;
    order: 2;
  }
  #containerBody .row5 .subRow1 .col1 article {
    width: 100%;
    max-width: 530px;
  }
  #containerBody .row5 .subRow1 .col2 {
    width: 100%;
    order: 1;
    margin-bottom: 25px;
  }
  #containerBody .row5 .subRow1 .col2 div {
    width: 100%;
    height: 500px;
  }

  /*LIINHA - RODAPÉ
  ******************************************************/
  #containerBody .rowRodape .subRowGeral1 {
    width: 100%;
    border-radius: 90px 0 0 0;
  }
  #containerBody .rowRodape .subRowGeral1 .divTexDigitalizado {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
  }
  #containerBody .rowRodape .subRow {
    width: 95%;
  }
  #containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais article a {
    width: 30px;
    height: 30px;
  }
  #containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais article a svg {
    width: 13px;
    fill: white;
  }
  #containerBody .rowRodape .subRow .subSubRow2 {
    display: none;
  }
  #containerBody .rowRodape .subRow .subSubRow3 .copy p {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    width: 100%;
    height: 500px;
  }
  header .caixaInfo {
    padding: 20px 0;
  }
  header .caixaInfo article h1 {
    font-size: 2.7rem;
  }
  header .caixaInfo article h4 {
    font-size: 1rem;
    font-weight: 200;
  }

  /*LINHA 2
  **********************************************/
  #containerBody .row2 .Subrow2 {
    width: 95%;
    flex-direction: column;
  }
  #containerBody .row2 .Subrow2 .row2_col1 {
    max-width: 100%;
    position: static;
  }
  #containerBody .row2 .Subrow2 .row2_col2 {
    max-width: 100%;
  }

  /*LIINHA 3
  ******************************************************/
  #containerBody .row3 {
    padding: 50px 0 15px 0;
  }
  #containerBody .row3 .subRow1 {
    width: 95%;
  }
  #containerBody .row3 .subRow1 .subRow1_col p {
    max-width: 100%;
  }
  #containerBody .row3 .subRow2 {
    width: 95%;
    grid-template-columns: 1fr;
  }
  #containerBody .row3 .subRow2 .col1, #containerBody .row3 .subRow2 .col2, #containerBody .row3 .subRow2 .col3 {
    max-width: 100%;
  }

  /*LIINHA 4
  ******************************************************/
  #containerBody .row4 {
    display: none;
  }

  /*LIINHA 5
  ******************************************************/
  #containerBody .row5 .subRow1 {
    width: 95%;
    flex-direction: column;
  }
  #containerBody .row5 .subRow1 .col1 {
    width: 100%;
    max-width: 100%;
    order: 2;
  }
  #containerBody .row5 .subRow1 .col1 article {
    width: 100%;
    max-width: 530px;
  }
  #containerBody .row5 .subRow1 .col2 {
    width: 100%;
    order: 1;
    margin-bottom: 25px;
  }
  #containerBody .row5 .subRow1 .col2 div {
    width: 100%;
    height: 600px;
  }

  /*LIINHA -  RODAPE
  ******************************************************/
  #containerBody .rowRodape .subRowGeral1 {
    width: 100%;
    border-radius: 90px 0 0 0;
  }
  #containerBody .rowRodape .subRow {
    width: 95%;
  }
  #containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais article a {
    width: 30px;
    height: 30px;
  }
  #containerBody .rowRodape .subRow .subSubRow1 .divRedesSociais article a svg {
    width: 13px;
    fill: white;
  }
  #containerBody .rowRodape .subRow .subSubRow2 {
    display: none;
  }
  #containerBody .rowRodape .subRow .subSubRow3 .copy p {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    width: 100%;
    height: 500px;
  }
  header .caixaInfo {
    padding: 20px 0;
  }

  /*LINHA 2
  **********************************************/
  #containerBody .row2 {
    padding: 50px 0 165px 0;
  }
  #containerBody .row2 .Subrow2 {
    width: 95%;
  }
  #containerBody .row2 .Subrow2 .row2_col1 {
    width: 100%;
    max-width: 360px;
  }

  /*LIINHA 3
  ******************************************************/
  #containerBody .row3 .subRow1 {
    width: 95%;
  }
  #containerBody .row3 .subRow2 {
    width: 95%;
    max-width: 1120px;
  }
  #containerBody .row3 .subRow2 .col1, #containerBody .row3 .subRow2 .col2, #containerBody .row3 .subRow2 .col3 {
    width: 100%;
  }

  /*LIINHA 4
  ******************************************************/
  #containerBody .row4 {
    display: none;
  }

  /*LIINHA 5
  ******************************************************/
  #containerBody .row5 .subRow1 {
    width: 95%;
  }
  #containerBody .row5 .subRow1 .col1 {
    width: 45%;
    max-width: 530px;
  }
  #containerBody .row5 .subRow1 .col1 article {
    width: 70%;
  }
  #containerBody .row5 .subRow1 .col2 {
    width: 55%;
  }
  #containerBody .row5 .subRow1 .col2 div {
    width: 100%;
  }

  /*LIINHA -RODAPÉ
  ******************************************************/
  #containerBody .rowRodape .subRowGeral1 {
    width: 100%;
  }
  #containerBody .rowRodape .subRow {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
