

/***********CORES**********/
$corMenu: #2d2d2d;
$amarelo: #f6e100;
$branco: white;
$cinzaClaro:#B4B4B4;

header{
    height: 450px;
    .caixaInfo{
        article{
            h1::after{
                content: '';
                width: 200px;
                margin: 0 auto;
                display: block;
                border-bottom: solid  2px rgb(151, 150, 150);
                padding: 15px 0 0 0;
            }
        }
    }
}


#containerBody{
    .row2{
        padding: 50px 0  200px 0;
        .Subrow2{
                padding: 0 0 60px 0;
                .row2_col1{
                box-shadow: none;
                position: static;
                article{
                    :first-child { 
                        margin-bottom: 15px;
                        font-size: 25px;
                    }
                    h2{
                        font-size: 50px;
                        margin-bottom: 10px;
                        color: $amarelo;
                    }
                    p{margin: 0;}
                }
            }
            .row2_col2{
                .subDiv{background-image: url('../img/imgFundo3.jpg');}
                .videoMakeFundo{
                    display: none;
                    background: rgba(0, 0, 0, 0.607);
                    position: relative;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    z-index: 1000;
                    width: 100%;
                    height: 100vh;
                    .btnExcluir{
                        position: absolute;
                        top: 30px;
                        right: 60px;
                        i{
                            font-size: 27px;
                            color: $branco;
                            cursor: pointer;
                        }
                    }
                    .videoMake{
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, -50%);
                        z-index: 1001;
                        width: 70vw;
                        max-width: 1100px;
                        video{
                            width: 100%;
                        }
                    }
                }
                .vidmakeActiv{
                    display: block;
                }
            }
        }

        .Subrow3{
            background: #2aa3f5;
            padding: 20px 0;
            .sub{
                width: 80%;
                max-width: 1120px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .divp1{
                    max-width: 230px;
                    p{
                        font-size: 3rem;
                        color: $branco;
                        span{
                            font-weight: 600;
                        }
                    }
                }
                .divp2{
                    max-width: 600px;
                    p{
                        font-size: 17px;
                        color: $branco;
                    }
                }
                article{
                    width: 2px;
                    height: 100px;
                    background: $amarelo;
                }
            }
        }
    }
}


@media (max-width: 575.98px){
    #containerBody{
        .row2{
            .Subrow2{
                .row2_col1{
                    padding: 20px 0;
                }
            }

            .Subrow3{
                .sub{width: 95%;
                    flex-direction: column;
                    .divp1{max-width: 100%; margin-bottom: 25px;}
                    .divp2{max-width: 100%;}
                    article{
                        display: none;
                    }
                }
            }
        }
    }

}
@media (min-width: 576px) and (max-width: 767.98px){
    #containerBody{
        .row2{
            .Subrow2{
                .row2_col1{
                    padding: 20px 0;
                }
            }

            .Subrow3{
                .sub{width: 95%;
                    flex-direction: column;
                    .divp1{max-width: 100%; margin-bottom: 25px;}
                    .divp2{max-width: 100%;}
                    article{
                        display: none;
                    }
                }
            }
        }
    }
}