*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins,Sans-serif;
}

/***********CORES**********/
$corMenu: #2d2d2d;
$amarelo: #f6e100;
$branco: white;
$cinzaClaro:#B4B4B4;
$cinzaClaro2: #7a7a7a;



header{
    width: 100%;
    height: 670px;
    background:
    linear-gradient(
        #2d2d2dc7,#2d2d2da1
    ),
    url('../img/imgFundo.jpg') no-repeat;
    background-size: cover;

    .divLogo_menuHamburguer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 1120px;
        margin: 0 auto;
        img{
            width: 100px;
            margin: 20px 0;
        }
        .Div_menuHamburguer{
            display: none;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: #2aa3f5;
            &:hover{
                background: #735ee7;
            }
            input{
                display: none;
            }
            label{
                width: 33px;
                height: 21px;
                position: relative;
                cursor: pointer;
                span{
                    width: 100%;
                    height: 4px;
                    background-color: $branco;
                    position: absolute;
                    border-radius: 5px;
                    transition: .3s ease-in-out;
                    right: 0;
                }
                span:nth-child(1){
                    top: 0;
                }
                span:nth-child(2){
                    top: 8px;
                }
                span:nth-child(3){
                    top: 16px;
                }
            }
        }

        #menuCheck:checked + #menuHamburguer span:nth-child(1){
            transform: rotate(-130deg);
            top: 8px;
        }
        #menuCheck:checked + #menuHamburguer span:nth-child(2){
            opacity: 0;
        }
        #menuCheck:checked + #menuHamburguer span:nth-child(3){
            transform: rotate(130deg);
            top: 8px;
            width: 100%;
        }
    }
    nav{
        width: 80%;
        max-width: 1120px;
        margin: 0 auto;
        z-index: 998;
        margin-bottom: 50px;
        .menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $branco;
            padding: 20px 10px;
            border-radius: 6px;
            .menuUl{
                display: flex;
                list-style: none;
                margin-left: 20px;
                li{
                    margin: 0 30px 0 0;
                    a{
                        color: $corMenu;
                        font-size: 15px;
                        text-decoration: none;
                        position: relative;
                    }
                    a::after{
                        content: " ";
                        width: 0px;
                        height: 3px;
                        display: block;
                        background: #735ee7;
                        position: absolute;
                        top: 20px;
                        left: 0;
                        bottom: 0;
                        transition: width 0.5s;
                    }
                    a:hover::after{
                        width: 100%;
                    }
                    
                }

            }
            .ulStyle{
                    a{
                        background: $amarelo;
                        color: $branco;
                        padding: 10px 20px;
                        border-radius: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        gap: 7px;
                    svg{
                        width: 15px;
                        fill: $branco;
                        }
                    }
                    a:hover{
                        background: $branco;
                        outline: solid 1px $amarelo;
                        color: $amarelo;
                        transition: .2s ease-in;
                    }   
                    a:hover > svg{
                        fill: $amarelo;
                        transition: .2s ease-in;
                    }
            }
        }
    }
    .menuFixado{
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        top: 5px;
    }

    .caixaInfo{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        article{
            text-align: center;
            h1{
                font-size: 51px;
                font-family: 'poppins',Sans-serif;
                color: $branco;
                margin-bottom: 15px;
            }
            h4{
                margin: 0 auto;
                width: 400px;
                font-size: 22px;
                font-family: 'poppins',Sans-serif;
                color: $branco;
                margin-bottom: 25px;
            }
            span{
                background: $branco;
                padding: 10px 20px;
                border-radius: 18px;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: $amarelo;
                }
            }
            span:hover{
                background: none;
                outline: solid 1px $branco;
                transition: .2s ease-in;
            }
            span:hover > a{
                color: $branco;
                transition: .2s ease-in;
            }
        }
    }
}

/* RESPONSIVIDADE DO MENU */
@media (max-width: 855.98px) {

    header{
        position: relative;
    
        .divLogo_menuHamburguer{
            .Div_menuHamburguer{
                display: flex;
                z-index: 999;
            }
        }
        nav{
            width: 100%;
            position: absolute;
            top: -100%;
            transition: 0.5s ease;
            .menu{
                padding: 0;
                border-radius: 0;
                .menuUl{
                    width: 100%;
                    display: block;
                    margin: 0;
                    li{
                        width: 100%;
                        &:hover{
                            background: $amarelo;
                        }
                        a{
                            width: 100%;
                            display: block;
                            padding: 13px 0 10px 40px;
                            &:hover{
                                color: $branco;
                            }
                        }
                        a::after{
                            content: " ";
                            display: none;
                        }
                    }
                }
                .ulStyle{
                    display: none;
                }
            }
        }
        nav.active{
            top: 100px;
        }
    }
}




/*LIINHA 2
******************************************************/
#containerBody{
    width: 100%;
    .row2{
        width: 100%;
        padding: 50px 0;
        background: $branco;
        .Subrow2{
            width: 80%;
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            position: relative;
                .row2_col1{
                width: 100%;
                max-width: 540px;
                padding: 15px 45px;
                background: $branco;
                box-shadow:  2px 2px 10px #c5c5c5e2,
                            -2px -2px 10px #c5c5c5e2;
                position: absolute;
                top: 35px;
                left: 0;
                article{
                    padding: 7px 0;
                    h2{
                        font-size: 33px;
                        margin-bottom: 10px;
                        color: $cinzaClaro2;
                    }
                    .nomeTeclando{
                        margin-bottom: 30px;
                        h3{
                            font-size: 33px;
                            color: $cinzaClaro2;
                        }
                    }
                    p{
                        font-size: 17px;
                        margin-bottom: 40px;
                        color: #5a5757;
                        span{
                            font-weight: 800;
                        }
                    }
                    .btnRow2{
                        a{
                        background: $amarelo;
                        color: $branco;
                        width: 203px;
                        height: 43px;
                        border-radius: 18px;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 7px;
                            svg{
                                width: 15px;
                                fill: $branco;
                            }
                        }
                        a:hover{
                            background: $branco;
                            outline: solid 1px $amarelo;
                            color: $amarelo;
                            transition: .2s ease-in;
                        }
                        a:hover > span svg{
                            fill: $amarelo !important;
                            transition: .2s ease-in;
                        }
                    }
                }
            }
            .row2_col2{
                width: 100%;
                max-width: 600px;
                .subDiv{
                    width: 100%;
                    height: 430px;
                    border-radius: 0 0 50% 0;
                    background-image: url('../img/imgFundo2.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    div{
                        svg{
                            width: 100px;
                            fill: rgb(229, 229, 229);
                        }
                    }
                }
            }
        }
    }


    /*LIINHA 3
    ******************************************************/
    .row3{
        padding: 50px 0;
        background-color: rgb(238, 238, 238);
        .subRow1{
            width: 80%;
            max-width: 1120px;
            margin: 0 auto;
            margin-bottom: 30px;
            .subRow1_col{
                text-align: center;
                h1{
                    font-size: 45px;
                    color: $amarelo;
                    margin-bottom: 20px;
                }
                p{
                    max-width: 35%;
                    margin: 0 auto;
                    font-size: 18px;
                    color: #656565;
                }
            }
        }
        .subRow2{
            width: 80%;
            max-width: 1120px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            .col1,.col2,.col3{
                width: 100%;
                max-width: 333px;
                padding: 50px 15px;
                background: $branco;
                box-shadow:  2px 2px 10px #c5c5c5e2,
                            -2px -2px 10px #c5c5c5e2;
                border-radius: 6px;
                article{
                    text-align: center;
                    div{
                        width: 120px;
                        height: 120px;
                        background: $amarelo;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        svg{
                            width: 70px;
                            fill: $branco;
                        }
                    }
                    h3{
                        color: #7a7a7a;
                        font-size: 19px;
                        margin-bottom: 20px;
                    }
                    p{
                        color: #7a7a7a;
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                    .btnRow3{
                        a{
                        background: $amarelo;
                        color: $branco;
                        width: 203px;
                        height: 43px;
                        border-radius: 18px;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 7px;
                        margin: 0 auto;
                        }
                        a:hover{
                            background: $branco;
                            outline: solid 1px $amarelo;
                            color: $amarelo;
                            transition: .2s ease-in;
                        }
                    }
                }
            }
        }
    }

    /*LIINHA 4
    ******************************************************/
    .row4{
        padding: 50px 0;
        background: $amarelo;
        .subRow{
            width: 80%;
            max-width: 1120px;
            margin: 0 auto;
            .subRow1{
                text-align: center;
                margin-bottom: 25px;
                h1{
                    font-size: 45px;
                    color: $branco;
                }
                h1::after {
                    content: "";
                    width: 200px;
                    margin: 0 auto;
                    display: block;
                    border-bottom: solid  4px rgb(151, 150, 150);
                    padding: 15px 0 0 0;
                  }
                }
                .subRow2{
                    text-align: center;
                    margin-bottom: 25px;
                p{
                    margin: 0 auto;
                    max-width: 640px;
                    font-size: 18px;
                    color: $branco;
                    }
                }
                .subRow3{
                    display: flex;
                    justify-content: center;
                img{
                    width: 100%;
                    max-width: 1100px;;
                    }
                }
                .subRow4{
                    display: flex;
                    justify-content: space-around;
               span{
                   text-align: center;
                    p{
                        font-size: 18px;
                        color: $branco;
                    }
                    p::after {
                        content: "";
                        width: 100px;
                        margin: 0 auto;
                        display: block;
                        border-bottom: solid  2px rgb(151, 150, 150);
                        padding: 15px 0 0 0;
                    }
               }
            }
        }
    }

    /*LIINHA 5
    ******************************************************/
    .row5{
        width: 100%;
        background: $branco;
        padding: 50px 0  250px 0;
        position: relative;
        .subRow1{
            width: 80%;
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            .col1{
                width: 40%;
                max-width: 530px;
                article{
                    width: 70%;
                    :first-child{
                        font-size: 20px;
                        color: #424242;
                    }
                    h1{
                        font-size: 55px;
                        color: $amarelo;
                        margin-bottom: 20px;
                        line-height: 55px;
                    }
                    :nth-child(3){
                        font-size: 17px;
                        color: #7a7a7a;
                        font-weight: 400;
                        margin-bottom: 40px;
                    }
                    .btnRow5{
                        a{
                        background: $amarelo;
                        color: $branco;
                        width: 203px;
                        height: 43px;
                        border-radius: 18px;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 7px;
                        }
                        a:hover{
                            background: $branco;
                            outline: solid 1px $amarelo;
                            color: $amarelo;
                            transition: .2s ease-in;
                        }
                    }
                }
            }
            .col2{
                width: 60%;
                div{
                    width: 100%;
                    height: 400px;
                    display: flex;
                    justify-content: flex-end;
                    img{
                        margin-top: -78px;
                        width: 598px;
                    }
                }
            }
        }

    }


    /*LIINHA - RODAPE
    ******************************************************/
    .rowRodape{
        width: 100%;
        padding: 250px 0 50px 0;
        background: #f9f9f9;
        position: relative;

        .subRowGeral1{
            width: 80%;
            max-width: 1120px;
            height: 307px;
            margin: 0 auto;
            background: $amarelo;
            border-radius: 0 90px 0 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: -150px;
            z-index: 997;
            .divTexDigitalizado{
                text-align: center;
                margin-bottom: 50px;
                p{
                    font-size: 35px;
                    color: $branco;
                    span{
                        color: #474747;
                        font-weight: 600;
                    }
                }
            }
            .divBtnRow5{
                .btnRow5{
                    a{
                        outline: solid 1px $branco;
                        color: $branco;
                        width: 203px;
                        height: 43px;
                        border-radius: 18px;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 7px;
                        svg{
                            width: 15px;
                            fill: $branco;
                        }
                    }
                    a:hover{
                        background: $branco;
                        outline: solid 1px $amarelo;
                        color: $amarelo;
                        transition: .2s ease-in;
                    }
                    a:hover > span svg{
                        fill: $amarelo !important;
                        transition: .2s ease-in;
                    }
                }
            }
        }
        .subRow{
            width: 80%;
            max-width: 1120px;
            margin: 0 auto;
            .subSubRow1{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 25px;
                .divLogo{
                    img{
                        width: 70px;
                    }
                }
                .traco{
                    width: 2px;
                    height: 52px;
                    background: $amarelo;
                    margin: 0 30px;
                }
                .divRedesSociais{
                    display: flex;
                    article{
                        margin-right: 15px;
                        a{
                            width: 40px;
                            height: 40px;
                            background: #DADADA;
                            border-radius: 50%;
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover{
                                background: $amarelo;
                            }
                            svg{
                                width: 18px;
                                fill: $branco;
                            }
                        }
                    }
                }
            }
            .subSubRow2{
                margin-bottom: 60px;
                .menuFooter{
                    ul{
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        li{
                            a{
                                text-decoration: none;
                                color: #a7a5a5;
                                font-size: 16px;

                                &:hover{
                                    color: #cbc9c9;
                                    transition: .2s ease-in;
                                }
                            }
                        }
                    }
                }
            }
            .subSubRow3{
                .copy{
                    text-align: center;
                    p{
                        color: #a7a5a5;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}


#textDigit::after, #textDigit2::after{
    content: '|';
    margin-left: 5px;
    animation: blink  0.7s infinite;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


[data-anime]{
    opacity: 0;
    transition: .7s;
}
[data-anime="top"]{
    transform: translate3d(0, 150px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}



@media (max-width: 575.98px) {

    header{width: 100%; height: 500px;
        .caixaInfo{padding: 20px 0;
            article{h1{font-size: 2.7rem; } h4{font-size: 1rem;font-weight: 200;}}
        }
    }

         /*LINHA 2
    **********************************************/
    #containerBody{
        .row2{
            .Subrow2{width: 95%;flex-direction: column;
                .row2_col1{max-width: 100%;position: static;}
                .row2_col2{max-width: 100%;}
            }
        }
    }


    /*LIINHA 3
    ******************************************************/
    #containerBody{
        .row3{padding: 50px 0 15px 0;
            .subRow1{width: 95%;
                .subRow1_col{p{max-width: 100%;}}
            }
            .subRow2{width: 95%; grid-template-columns: 1fr;
                .col1,.col2,.col3{max-width: 100%;}
            }
        }
    }


    /*LIINHA 4
    ******************************************************/
    #containerBody{.row4{ display: none;}}

    /*LIINHA 5
    ******************************************************/
    #containerBody{
        .row5{
            .subRow1{width: 95%; flex-direction: column;
                .col1{width: 100%; max-width: 100%; order: 2;
                    article{width: 100%; max-width: 530px;}
                }
                .col2{width: 100%; order: 1; margin-bottom: 25px;
                    div{width: 100%; height: 500px;
                        img{margin-top: 0; width: 100%;}
                    }
                }
            }
        }
    }

      /*LIINHA - RODAPÉ
    ******************************************************/
    #containerBody{
        .rowRodape{
            .subRowGeral1{width: 100%; border-radius: 90px 0 0 0;}
            .subRow{width: 95%;
                .subSubRow1{
                    .divRedesSociais{
                        article{
                            a{width: 30px; height: 30px;
                                svg{width: 13px; fill: white;}
                            }
                        }
                    }
                }
                .subSubRow2{display: none;}
                .subSubRow3{.copy{p{font-size: 12px;}}}
            }
        }
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    header{width: 100%; height: 500px;
        .caixaInfo{padding: 20px 0;
            article{
                h1{font-size: 2.7rem;}
                h4{font-size: 1rem; font-weight: 200;}
            }
        }
    }

     /*LINHA 2
    **********************************************/
    #containerBody{
        .row2{
            .Subrow2{width: 95%; flex-direction: column;
                .row2_col1{max-width: 100%; position: static;}
                .row2_col2{max-width: 100%;}
            }
        }
    }

    /*LIINHA 3
    ******************************************************/
    #containerBody{
        .row3{padding: 50px 0 15px 0;
            .subRow1{width: 95%;
                .subRow1_col{p{max-width: 100%;}}
            }
            .subRow2{width: 95%; grid-template-columns: 1fr;
                .col1,.col2,.col3{max-width: 100%;}
            }
        }
    }


    /*LIINHA 4
    ******************************************************/
    #containerBody{.row4{display: none;}}

    /*LIINHA 5
    ******************************************************/
    #containerBody{
        .row5{
            .subRow1{width: 95%; flex-direction: column;
                .col1{ width: 100%; max-width: 100%; order: 2;
                    article{width: 100%;max-width: 530px;}
                }
                .col2{ width: 100%; order: 1; margin-bottom: 25px;
                    div{ width: 100%; height: 500px;img{margin-top: 0;width: 100%;}}
                }
            }
        }
    }


     /*LIINHA -  RODAPE
    ******************************************************/
    #containerBody{
        .rowRodape{
            .subRowGeral1{width: 100%;border-radius: 90px 0 0 0;}
            .subRow{width: 95%;
                .subSubRow1{.divRedesSociais{article{a{width: 30px;height: 30px;svg{width: 13px;fill: white;}}}}}
                .subSubRow2{display: none;}
                .subSubRow3{.copy{p{font-size: 12px;}}}
            }
        }
    }
    

}

@media (min-width: 768px) and (max-width: 991.98px) {

    header{width: 100%;height: 500px;.caixaInfo{padding: 20px 0;}}

    /*LINHA 2
    **********************************************/
    #containerBody{
        .row2{padding: 50px 0 165px 0;
            .Subrow2{width: 95%;
                .row2_col1{width: 100%; max-width: 360px;}
            }
        }
    }

       /*LIINHA 3
    ******************************************************/
    #containerBody{
        .row3{
            .subRow1{ width: 95%;}
            .subRow2{width: 95%;max-width: 1120px;
                .col1,.col2,.col3{width: 100%;}
            }
        }
    }

    /*LIINHA 4
    ******************************************************/
    #containerBody{ .row4{display: none;}}

    /*LIINHA 5
    ******************************************************/
    #containerBody{
        .row5{
            .subRow1{width: 95%;
                .col1{width: 45%;max-width: 530px;
                    article{width: 70%;}
                }
                .col2{width: 55%;
                    div{width: 100%;height: 300px;img{margin-top: -78px; width: 100%;}}
                }
            }
        }
    }
    

    /*LIINHA -RODAPÉ
    ******************************************************/
    #containerBody{.rowRodape{
        .subRowGeral1{width: 100%;}
        .subRow{width: 95%;}}}
}
